@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --strong-cyan-shadow:  hsl(171, 78%, 32%);
    --light-blue: hsl(233, 100%, 69%);
    --light-blue-shadow: hsl(233, 70%, 44%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --white: hsl(0, 0%, 100%);
    --footer: hsl(240, 18%, 97%);
    --typography: 'Bai Jamjuree', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px;
    font-family: var(--typography);
    background-image: url(../assets/img/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
}

main {
    width: 100%;
    margin: 8rem auto 0 auto;
}

.logo__header {
    text-align: center;
    padding-bottom: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}
/* Section one */
.section__one {
    padding: 0 30px;
}

.one__title {
    color: var(--dark-grayish-blue);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.one__paragraph {
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 3px;
}

.div__btn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.btn {
    
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--white);
    opacity: 0.9;
}

.btn--ios {
    background-color: var(--strong-cyan);
    box-shadow: 0px 3px 0px 0px var(--strong-cyan-shadow);
}


.btn--mac {
    background-color: var(--light-blue);
    box-shadow: 0px 3px 0px 0px var(--light-blue-shadow);
}

/* Section Two */

.section__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two__title {
    color: var(--dark-grayish-blue);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 30px 20px 30px;
}

.two__paragraph {
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 40px;
}

.img__computer {
    width: 85%;
    padding-top: 60px;
}

.two__subtitle {
    padding-top: 60px;
    font-size: 1.5rem;
    color: var(--dark-grayish-blue);
    font-weight: 600;
}

.paragraph__two {
    text-align: center;
    color: var(--grayish-blue);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 40px 0 40px;
}

/* Section three */

.section__three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three__title {
    color: var(--dark-grayish-blue);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 70px 30px 20px 30px;
}

.three__paragraph {
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 30px;
}

.img__devices {
    width: 95%;
    padding-top: 60px;
}

/* Section four */

.section__four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four__title {
    color: var(--dark-grayish-blue);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 30px 30px 30px;
}

.four__paragraph {
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 30px;
}

.four__cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 80px;
}

.cards {
    text-align: center;
}

.card__title {
    color: var(--dark-grayish-blue);
    font-size: 1.5rem;
    padding-top: 40px;
}

.card__paragraph {
    color: var(--grayish-blue);
    font-size: 1rem;
    padding: 20px 25px;
}

/* Section five */

.section__five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.imagen--google {
    width: 150px;
}

.imagen--ibm {
    width: 120px;
}

.imagen--microsoft{
    width: 140px;
}

.imagen--hp {
    width: 120px;
}

.imagen--vector {
    width: 100px;
}

/* Section six */

.section__six {
    padding: 0 30px;
}

.six__title {
    color: var(--dark-grayish-blue);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 20px 20px 20px;
}

.six__paragraph {
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 5px;
}

.btn--footer {
    padding-bottom: 150px;
}
/* FOOTER */
footer {
    width: 100%; 
    background-color: var(--footer);
    padding-bottom: 50px;
}
.nav__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding-top: 50px;
    gap: 40px;
}

.nav__logo {
    width: 55px;
}

.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.links {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

.nav__social {
    display: flex;
    gap: 40px;
}

.icons {
    font-size: 28px;
    color: var(--dark-grayish-blue);
}






