@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --typography-open: 'Open Sans', sans-serif;
    --typography--raleway: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.container {
    width: 100%;
}
/* SECTION HEADER */
.section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 1rem;
    gap: 40px;
}

.nav__container {
    display: flex;
    justify-content: space-around;
}

.header--logo {
    width: 50%;
    animation:rotate-hor-center .5s cubic-bezier(.455,.03,.515,.955) both
}


.nav__links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav--link {
    list-style: none;
    font-size: 0.7rem;
    font-family: var(--typography-open);
    color: var(--desaturated-blue);
}
/* HOVER */
.nav--link:hover {
    color: var(--moderate-cyan);
    -webkit-transform:scale(1.1);transform:scale(1.1);
    cursor: pointer;

}

.file--img {
    width: 100%;
}

.div__files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.article__content {
    text-align: center;
}

.header--title {
    color: var(--very-dark-blue);
    font-family: var(--typography--raleway);
    font-weight: 700;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.header--paragraph {
    color: var(--very-dark-blue);
    font-family: var(--typography-open);
    font-size: 1rem;
    padding-bottom: 2rem;
}

.header__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input--header, .btn--header {
    width: 95%;
    height: 50px;
    border-radius: 4px;
}

.input--header {
    font-family: var(--typography--raleway);
    font-size: 0.9rem;
    color: var(--desaturated-blue);
    opacity: 0.5;
    padding-left: 1.5rem;
    border: 2px solid var(--desaturated-blue);
}


.btn--header {
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    background-image: -webkit-linear-gradient(45deg, #102a70 50%, transparent 20%);
    background-image: linear-gradient(45deg, #102a70 20%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    font-family: var(--typography--raleway);
    font-weight: 700;
    font-size: 1rem;
    border: none;
}

.btn--header:hover {
    background-position: 0;
    cursor: pointer;
}


/* SECTION CONTENT */
.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-grayish-blue);
    position: relative;
    margin-top: 8rem;
    padding: 1.5rem 1rem 5rem 1rem;
    gap: 80px;
}

.bg__curve--dis {
    display: none;
}

.bg__curve--mob { 
    display: block;
    position:absolute;
    width: 100%;
    top: -58px;
    left: 0;
}

.content--img {
    width: 100%;
    padding-bottom: 4rem;
}

.content__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content--title {
    color: var(--very-dark-blue);
    font-family: var(--typography--raleway);
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.content--paragraph {
    color: var(--desaturated-blue);
    font-family: var(--typography-open);
    font-size: 14px;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.div__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-bottom: 40px;
}

.div__arrow:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
    cursor: pointer;
}

.link--arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: var(--typography--raleway);
    color: var(--moderate-cyan);
}

.icon--arrow {
    width: 18px;
}

hr {
    border: 1px solid var(--moderate-cyan);
}

.content__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06), -5px -5px 10px rgba(0, 0, 0, 0.06);
    width: 80%;
    height: 180px;
    padding: 1.5rem;
    gap: 15px;
}

.content__card:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.card--paragraph {
    color: var(--very-dark-blue);
    font-size: 10px;
    font-family: var(--typography-open);
}

.card__testimonial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img--avatar {
    width: 13%;
    border-radius: 50%;
}
.testimonial--title {
    color: var(--very-dark-blue);
    font-family: var(--typography--raleway);
    font-size: 0.7rem;
    font-weight: 700;
    padding-bottom: 3px;
}

.testimonial--paragraph {
    color: var(--desaturated-blue);
    font-size: 0.5rem;
    font-family: var(--light-grayish-blue);
}

/* SECTION ACCESS */

.section__access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 3rem 5rem 3rem;
    gap: 30px;
    background-color: var(--desaturated-blue);
}

.access--title {
    text-align: center;
    color: var(--light-grayish-blue);
    font-family: var(--typography--raleway);
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.access--btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access--paragraph {
    text-align: center;
    color: var(--light-grayish-blue);
    font-family: var(--typography-open);
    font-size: 14px;
}

.input--access, .btn--access {
    width: 250px;
    height: 40px;
    border-radius: 4px;
}

.input--access {
    font-family: var(--typography--raleway);
    font-size: 0.7rem;
    color: var(--light-grayish-blue);
    padding-left: 0.5rem;
    border: 2px solid var(--desaturated-blue);
    margin-bottom: 0.5rem;
}

.btn--access {
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    background-image: -webkit-linear-gradient(45deg, #102a70 50%, transparent 20%);
    background-image: linear-gradient(45deg, #102a70 20%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    font-family: var(--typography--raleway);
    font-weight: 700;
    font-size: 0.8rem;
    border: none;
}


.btn--access:hover {
    background-position: 0;
    cursor: pointer;
  }


/* SECTION FOOTER */
.section__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 3rem 0 3rem;
    gap: 50px;
    background-color: var(--very-dark-blue);
}

.img--footer {
    filter: brightness(0) invert(1);
    width: 45%;
}

.img--footer:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
    cursor: pointer;
}

.footer__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    align-items: center;
}

.contact {
    color: var(--light-grayish-blue);
    font-size: 1rem;
    font-family: var(--typography-open);
}


.contact--one {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    grid-area: 1 / 1 / 2 / 3;
}
.contact--two {
    display: flex;
    align-items: center;
    gap: 20px;
    grid-area: 2 / 1 / 3 / 3;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact>p{
    font-size: 1rem;
    color: var(--light-grayish-blue);
}

.contact>p:hover {
    color: aqua;
    -webkit-transform:scale(1.1);transform:scale(1.1);
    cursor: pointer;
}

.links {
    list-style: none;
    color: var(--light-grayish-blue);
    font-size: 1.1rem;
    font-family: var(--typography-open);
}


.list {
    padding-bottom: 1rem;
}

.list:hover {
        color: aqua;
        -webkit-transform:scale(1.1);transform:scale(1.1);
        cursor: pointer;
}
.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.icons--social {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

.icons {
    font-size: 20px;
    color: var(--light-grayish-blue);
}

.icons:hover {
    color: var(--moderate-cyan);
    -webkit-transform:scale(1.3);transform:scale(1.3);
    cursor: pointer;
}

.icons--paragraph {
    font-size: 0.8rem;
    color: var(--white);
    font-family: var(--typography-open);
}

@keyframes rotate-hor-center {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-360deg);
    }
  }
  
  
/* RESPONSIVE */

@media (min-width: 768px) {


    .section__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 90%;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        padding: 4rem 4rem;
        margin-bottom: 15rem;    
    }

    .nav__container {
        grid-area: 1 / 1 / 2 / 3;
        justify-content: space-between;
        
    }

    .header--logo {
        width: 100%;
    }

    .nav--link {
        font-size: 1.2rem;
        padding-left: 2rem;
    }

    .div__files {
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .article__content {
        text-align: left;
    }

    .header--title {
        font-size: 2.8rem;
    }

    .header--paragraph {
        font-size: 1.2rem;
        padding-right: 5rem;
    }

    .header__btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .input--header {
        width: 50%;
    }

    .btn--header {
        width: 30%;
    }

    .input--header {
        font-size: 1rem;
    }

    /* SECCION CONTENT */

    .section__content {
        padding: 0;
        gap: 0;
    }

    .bg__curve--mob {
        display: none;
    }
    
    .bg__curve--dis { 
        
        display: block;
        width: 100%;
        position: relative;
        top: -80px;   
      
    }

    .content__header {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
    }

    .header__two {
        display: flex;
        align-items: flex-start;
        padding: 0 1rem 5rem 4rem;
       
    }

    .content--title {
        font-size: 1.8rem;
    }

    .content--paragraph {
        font-size: 1.2rem;
        padding-right: 4rem;
    }

    .link--arrow {
        font-size: 1rem;
    }

    .icon--arrow {
        width: 25px;
    }

    .content__card {
       
        width: 60%;
        height: 180px;
        padding: 1.5rem;
        gap: 15px;
    }

    .figure__content {
        display: flex;
        justify-content: center;
    }

    .content--img {
        width: 80%;
        padding-bottom: 4rem;
        align-self: center;
        
    }
   
/* SECTION ACCESS */

    .section__access {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 5rem 4rem;
    }

    .access--header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .access--title {
        text-align: left;
        font-size: 1.8rem;
    }

    .access--paragraph {
        text-align: left;
        font-size: 1.2rem;
        padding-right: 4rem;
    }

    .access--btn {
        grid-area: 1 / 2 / 2 / 3;
        align-items: flex-start;
        padding-left: 3rem;
    }

    .input--access {
        width: 80%;
        height: 50px;
        font-size: 1rem;
        color: var(--desaturated-blue);
    }

    .btn--access {
        width: 35%;
        height: 50px;
    }

    /* SECTION FOOTER */
    .section__footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 5rem 4rem;
        gap: 20px;
    }

    .img--footer {
        width: 15%;
    }

    .footer__header {
        grid-area: 1 / 1 / 2 / 5;
        align-self: flex-end;
    }



    .footer__contact {
        grid-area: 2 / 1 / 3 / 2; 
       
        align-self: flex-start;
    }

    .footer__links {
        grid-area: 2 / 2 / 3 / 4; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__icons {
        grid-area: 2 / 4 / 3 / 5;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .icons {
        font-size: 40px;
    }

}





